<style type="text/css">
  .dynamic-template .dynamic-items .dynamic-item {
    background: #ffffff;
    box-shadow: 0px 0px 6px #bfbebe;
    margin-bottom: 15px;
  }
  .dynamic-template .dynamic-items .dynamic-item h3 {
    background: #47b4de;
    color: #fff;
    padding: 5px 5px 7px 10px;
    margin: 0px;
  }
  .dynamic-template .dynamic-items .dynamic-item .dynamic-item-fields {
    padding: 10px;
  }
  .dynamic-template .dynamic-items .dynamic-item .dynamic-item-fields span {
    display: block;
    font-size: 12px;
  }

  .eq-card.ui.card {
    flex: 1; /* Shrink and grow according to available height */
    flex-basis: 0;
    height: 100%;
  }

  .eq-graph {
    position: relative;
    height: 40vh;
    width: 40vw;
  }
</style>

<div class="dynamic-template">
  <h1 class="ui huge dividing header">SRKK ADMIN DASHBOARD</h1>
  <div class="dynamic-items">
    <h2 class="ui padded header">Today</h2>

    <div class="ui teal message">
      <i class="close icon"></i>
      <div class="header">
        Welcome back! Here is what you missed while you were away:
      </div>
      <ul class="list">
        <li>Electricity costings were higher compared to previous quarter.</li>
        <li>
          An accident almost occured in Section 2B which could affect your DWI.
        </li>
      </ul>
    </div>

    <div class="ui five column grid">
      <div class="column">
        <div class="ui card eq-card">
          <div class="image">
            <img
              src="https://c8.alamy.com/comp/T9P1A1/automation-industry-machine-production-robotics-flat-color-icon-vector-T9P1A1.jpg"
            />
          </div>
          <div class="content">
            <a class="header">Predicted Machinery Breakdown</a>
            <div class="meta">
              <span class="date"
                >Number of days until possible breakdown of machine based on
                previous data.</span
              >
            </div>
            <div class="description">
              Status: <span style="color: red;"> < 10 Days </span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="pallet icon"></i>
              Stage: <b>Critical</b>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card eq-card">
          <div class="image">
            <img
              src="https://c8.alamy.com/comp/TA2F29/insurance-protection-safety-digital-shield-flat-color-icon-vector-TA2F29.jpg"
            />
          </div>
          <div class="content">
            <a class="header">Days Without Injury (DWI)</a>
            <div class="meta">
              <span class="date"
                >Number of days without an accident in the factory.</span
              >
            </div>
            <div class="description">
              Status: <span style="color: green;">Very Safe</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="calendar plus icon"></i>
              Streak: <b>365 days</b>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card eq-card">
          <div class="image">
            <img
              src="https://c8.alamy.com/comp/T9XE3X/arrange-design-stack-3d-box-flat-color-icon-vector-T9XE3X.jpg"
            />
          </div>
          <div class="content">
            <a class="header">Volume Today</a>
            <div class="meta">
              <span class="date">Volume of products products today.</span>
            </div>
            <div class="description">
              Status: <span style="color: green;">On Track</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="box icon"></i>
              Quantity: <b>2930 pcs/hr</b>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card eq-card">
          <div class="image">
            <img
              src="https://c8.alamy.com/comp/TA3R5M/building-factory-construction-industry-business-logo-template-flat-color-TA3R5M.jpg"
            />
          </div>
          <div class="content">
            <a class="header">Downtime This Month</a>
            <div class="meta">
              <span class="date"
                >Estimated process downtimes along with projected losses.</span
              >
            </div>
            <div class="description">
              Tolerance: <span style="color: orange;"> Acceptable </span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="arrow circle down icon"></i>
              Est. Losses: <b>- RM2100</b>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui card eq-card">
          <div class="image">
            <img
              src="https://c8.alamy.com/comp/T9XBWF/label-business-discount-sale-abstract-flat-color-icon-template-T9XBWF.jpg"
            />
          </div>
          <div class="content">
            <a class="header">Projected Sales</a>
            <div class="meta">
              <span class="date"
                >Predicted sales volume based on current and historical sales
                figures.</span
              >
            </div>
            <div class="description">
              Status: <span style="color: green;">RM34,413</span>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="dollar sign icon"></i>
              Status: <b>On Track</b>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="ui dividing header">Performance Metrics</h2>

    <div class="ui grid">
      <div class="ten wide column">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>PID</th>
              <th>Employee ID</th>
              <th>Department</th>
              <th>GUID</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
            <tr>
              <td data-label="PID">{{pid.textValue}}</td>
              <td data-label="Employee ID">{{pic.textValue}}</td>
              <td data-label="Department">{{department.textValue}}</td>
              <td data-label="GUID">{{GUID.textValue}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="six wide column">
        <table class="ui very basic collapsing celled table">
          <thead>
            <tr>
              <th>Direct Reports</th>
              <th>Years of Service</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h4 class="ui image header">
                  <img
                    src="https://semantic-ui.com/images/avatar2/small/lena.png"
                    class="ui mini rounded image"
                  />
                  <div class="content">
                    Lena
                    <div class="sub header">Floor Manager</div>
                  </div>
                </h4>
              </td>
              <td>
                22
              </td>
            </tr>
            <tr>
              <td>
                <h4 class="ui image header">
                  <img
                    src="https://semantic-ui.com/images/avatar2/small/matthew.png"
                    class="ui mini rounded image"
                  />
                  <div class="content">
                    Matthew
                    <div class="sub header">Floor Manager</div>
                  </div>
                </h4>
              </td>
              <td>
                15
              </td>
            </tr>
            <tr>
              <td>
                <h4 class="ui image header">
                  <img
                    src="https://semantic-ui.com/images/avatar2/small/lindsay.png"
                    class="ui mini rounded image"
                  />
                  <div class="content">
                    Lindsay
                    <div class="sub header">Floor Manager</div>
                  </div>
                </h4>
              </td>
              <td>
                12
              </td>
            </tr>
            <tr>
              <td>
                <h4 class="ui image header">
                  <img
                    src="https://semantic-ui.com/images/avatar2/small/mark.png"
                    class="ui mini rounded image"
                  />
                  <div class="content">
                    Mark
                    <div class="sub header">Operations Exec</div>
                  </div>
                </h4>
              </td>
              <td>
                11
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ui grid">
      <div class="eight wide column ">
        <canvas id="lineChart"></canvas>
      </div>
      <div class="eight wide column ">
        <canvas id="doughnutChart"></canvas>
      </div>
    </div>

    <div class="ui grid">
      <div class="eight wide column "><canvas id="barChart"></canvas>;</div>
      <div class="eight wide column ">
        <canvas id="pieChart"></canvas>
      </div>
    </div>

    <!-- {{#each items}}
    <div class="dynamic-item">
      <h3>Result #{{@index}}</h3>
      <div class="dynamic-item-fields">
        <span><b>Created : </b>{{Created.textValue}}</span>
        <span
          ><b>Created_x0020_Date : </b>{{Created_x0020_Date.textValue}}</span
        >
        <span><b>Description : </b>{{Description.textValue}}</span>
        <span><b>BaseName : </b>{{BaseName.textValue}}</span>
        <span><b>File_x0020_Type : </b>{{File_x0020_Type.textValue}}</span>
        <span><b>GUID : </b>{{GUID.textValue}}</span>
        <span><b>ID : </b>{{ID.textValue}}</span>
        <span><b>Modified : </b>{{Modified.textValue}}</span>
        <span><b>Editor : </b>{{Editor.textValue}}</span>
      </div>
    </div>
    {{/each}} -->
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"
></script>
<script>
  // let sumArray = [];
  // {{#each items}}
  //    sumArray.push({{Title.textValue}})
  // {{/each}}
  // let total = sumArray.reduce((a, b) => a + b, 0).toString();
  document.getElementById("totalArray").innerHTML = "hello";
</script>
